.chat-icon {
  border-radius: 50%;
  display: inline-flex;
  padding: 10px;
  background-color: #cfeaf7;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border: 1px solid rgba(81,92,93,0.1);

}

.chat-icon-image {
  height: 30px;
}