.chat-icon {
  border-radius: 50%;
  display: inline-flex;
  padding: 10px;
  background-color: #cfeaf7;
  border: 1px solid rgba(81,92,93,0.1);
  position: absolute;
  bottom: 0;
  right: 0;
}

.chat-icon-image {
  height: 30px;
}